USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[TRK_0454_Column_Metrics](
	[TRK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRK_FK_T4_ID] [int] NOT NULL,
	[TRK_Total_Values] [bigint] NOT NULL,
	[TRK_Column_Nulls] [bigint] NOT NULL,
	[TRK_Density] [decimal](7, 6) NOT NULL,
	[TRK_Uniqueness] [decimal](7, 6) NOT NULL,
	[TRK_Distinct_Values] [int] NULL,
	[TRK_Post_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_TRK_0454] PRIMARY KEY CLUSTERED 
(
	[TRK_FK_T4_ID] ASC,
	[TRK_Post_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_TRK_0454_ID] UNIQUE NONCLUSTERED 
(
	[TRK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[TRK_0454_Column_Metrics] ADD  CONSTRAINT [DF_TRK_0454_Total_Values]  DEFAULT ((0)) FOR [TRK_Total_Values]
GO
ALTER TABLE [CAT].[TRK_0454_Column_Metrics] ADD  CONSTRAINT [DF_TRK_0454_Column_Nulls]  DEFAULT ((0)) FOR [TRK_Column_Nulls]
GO
ALTER TABLE [CAT].[TRK_0454_Column_Metrics] ADD  CONSTRAINT [DF_TRK_0454_Density]  DEFAULT ((0)) FOR [TRK_Density]
GO
ALTER TABLE [CAT].[TRK_0454_Column_Metrics] ADD  CONSTRAINT [DF_TRK_0454_Uniqueness]  DEFAULT ((0)) FOR [TRK_Uniqueness]
GO
ALTER TABLE [CAT].[TRK_0454_Column_Metrics] ADD  CONSTRAINT [DF_TRK_0454_Post_Date]  DEFAULT (getdate()) FOR [TRK_Post_Date]
GO
ALTER TABLE [CAT].[TRK_0454_Column_Metrics]  WITH CHECK ADD  CONSTRAINT [FK_TRK_0454_LNK_0300_0400_Object_Column_Collection] FOREIGN KEY([TRK_FK_T4_ID])
REFERENCES [CAT].[LNK_0300_0400_Object_Column_Collection] ([LNK_T4_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CAT].[TRK_0454_Column_Metrics] CHECK CONSTRAINT [FK_TRK_0454_LNK_0300_0400_Object_Column_Collection]
GO
