USE [DWMgmt]
GO


CREATE PROCEDURE [CAT].[RPT_0303_Index_Coverage]
@NamePart NVARCHAR(4000) = N'ALL'
, @ExactName BIT = 0

AS

SELECT V200.Fully_Qualified_Name
, count(distinct V200.REG_Column_Name) as Table_Column_Count
, count(distinct V343.REG_Column_Name) as Index_Column_Count
, count(distinct V343.REG_Index_Name) as Index_Count
, CASE WHEN count(distinct V200.REG_Column_Name) = 0 OR count(distinct V343.REG_Column_Name) = 0 THEN 0
	ELSE count(distinct V343.REG_Column_Name) / cast(count(distinct V200.REG_Column_Name) as money) END AS Structural_Integrity_Ratio
FROM CAT.VI_0343_Index_Column_Latches AS V343 WITH(NOLOCK)
JOIN CAT.VI_0300_Full_Object_Map AS V200 WITH(NOLOCK)
ON V200.LNK_T3_ID = V343.LNK_T3P_ID
WHERE (@ExactName = 0 AND (@NamePart = 'ALL'
OR CHARINDEX(REPLACE(REPLACE(v200.Fully_Qualified_Name,'[',''),']',''), ''+@NamePart+'') > 0 
OR CHARINDEX(''+@NamePart+'', REPLACE(REPLACE(v200.Fully_Qualified_Name,'[',''),']','')) > 0)
OR (@ExactName = 1 AND @NamePart = REPLACE(REPLACE(v200.Fully_Qualified_Name,'[',''),']','')))
GROUP BY V200.Fully_Qualified_Name



GO
