USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking](
	[TRK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRK_FK_T2_ID] [int] NOT NULL,
	[TRK_FK_0205_ID] [int] NOT NULL,
	[TRK_FK_T3_ID] [int] NOT NULL,
	[TRK_FK_T4_ID] [int] NOT NULL,
	[TRK_Record_Count] [bigint] NULL,
	[TRK_Status_Code] [int] NULL,
	[TRK_Post_Date] [datetime] NOT NULL,
	[TRK_Term_Date] [datetime] NULL,
 CONSTRAINT [PK_TRK_0205] PRIMARY KEY CLUSTERED 
(
	[TRK_Post_Date] ASC,
	[TRK_FK_T2_ID] ASC,
	[TRK_FK_0205_ID] ASC,
	[TRK_FK_T3_ID] ASC,
	[TRK_FK_T4_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking] ADD  DEFAULT ((0)) FOR [TRK_FK_T3_ID]
GO
ALTER TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking] ADD  DEFAULT ((0)) FOR [TRK_FK_T4_ID]
GO
ALTER TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking] ADD  CONSTRAINT [DF_TRK_0205_Post]  DEFAULT (getdate()) FOR [TRK_Post_Date]
GO
ALTER TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking]  WITH CHECK ADD  CONSTRAINT [FK_TRK_0205_LNK_0100_0200_Server_Databases] FOREIGN KEY([TRK_FK_T2_ID])
REFERENCES [CAT].[LNK_0100_0200_Server_Databases] ([LNK_T2_ID])
GO
ALTER TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking] CHECK CONSTRAINT [FK_TRK_0205_LNK_0100_0200_Server_Databases]
GO
ALTER TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking]  WITH CHECK ADD  CONSTRAINT [FK_TRK_0205_REG_0205_Database_Maintenance_Properties] FOREIGN KEY([TRK_FK_0205_ID])
REFERENCES [CAT].[REG_0205_Database_Maintenance_Properties] ([REG_0205_ID])
GO
ALTER TABLE [CAT].[TRK_0205_DB_Maintenance_Job_Tracking] CHECK CONSTRAINT [FK_TRK_0205_REG_0205_Database_Maintenance_Properties]
GO
