USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links](
	[LNK_TBL_ID] [int] IDENTITY(1,1) NOT NULL,
	[LNK_FK_T2_ID] [int] NOT NULL,
	[LNK_FK_T3_ID] [int] NOT NULL,
	[LNK_FK_T4_ID] [int] NOT NULL,
	[LNK_FK_0205_ID] [int] NOT NULL,
	[LNK_Min_Exec_Time] [time](7) NOT NULL,
	[LNK_Max_Exec_Time] [time](7) NOT NULL,
	[LNK_Post_Date] [datetime] NOT NULL,
	[LNK_Term_Date] [datetime] NOT NULL,
	[LNK_Day_Modulus] [tinyint] NULL,
 CONSTRAINT [pk_LNK_0200_0205] PRIMARY KEY CLUSTERED 
(
	[LNK_FK_0205_ID] ASC,
	[LNK_FK_T2_ID] ASC,
	[LNK_FK_T3_ID] ASC,
	[LNK_FK_T4_ID] ASC,
	[LNK_Term_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links] ADD  CONSTRAINT [DF_FK_T3_ID]  DEFAULT ((0)) FOR [LNK_FK_T3_ID]
GO
ALTER TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links] ADD  CONSTRAINT [DF_FK_T4_ID]  DEFAULT ((0)) FOR [LNK_FK_T4_ID]
GO
ALTER TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links] ADD  CONSTRAINT [DF_LDM_Min_Exec]  DEFAULT ('00:00:00.000') FOR [LNK_Min_Exec_Time]
GO
ALTER TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links] ADD  CONSTRAINT [DF_LDM_Max_Exec]  DEFAULT ('23:59:59.999') FOR [LNK_Max_Exec_Time]
GO
ALTER TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links] ADD  CONSTRAINT [DF_LDM_Post]  DEFAULT (getdate()) FOR [LNK_Post_Date]
GO
ALTER TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links] ADD  CONSTRAINT [DF_LDM_Term]  DEFAULT ('12/31/2099') FOR [LNK_Term_Date]
GO
ALTER TABLE [CAT].[LNK_0200_0205_Database_Maintenance_Links] ADD  CONSTRAINT [LNK_0205_Day_Mod]  DEFAULT ((7)) FOR [LNK_Day_Modulus]
GO
