USE [DWMgmt]
GO


CREATE TABLE [CAT].[REG_0600_Object_Code_Library](
	[REG_0600_ID] [int] IDENTITY(1,1) NOT NULL,
	[REG_Code_Base] [nvarchar](25) NOT NULL,
	[REG_Code_Content] [nvarchar](4000) NOT NULL,
	[REG_Create_Date] [datetime] NOT NULL,
 CONSTRAINT [UQ_REG_0600_ID] UNIQUE NONCLUSTERED 
(	[REG_0600_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[REG_0600_Object_Code_Library] ADD  CONSTRAINT [DF_REG_0600_Post]  DEFAULT (getdate()) FOR [REG_Create_Date]
GO

CREATE FULLTEXT CATALOG CodeContent AS DEFAULT;

CREATE FULLTEXT INDEX ON [CAT].[REG_0600_Object_Code_Library] (REG_Code_Content) 
KEY INDEX UQ_REG_0600_ID ON CodeContent


