USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[LNK_0204_0300_Schema_Binding](
	[LNK_T3_ID] [int] IDENTITY(1,1) NOT NULL,
	[LNK_FK_T2_ID] [int] NOT NULL,
	[LNK_FK_0204_ID] [int] NOT NULL,
	[LNK_FK_0300_ID] [int] NOT NULL,
	[LNK_Post_Date] [datetime] NOT NULL,
	[LNK_Term_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_LNK_0204_0300] PRIMARY KEY CLUSTERED 
(
	[LNK_Term_Date] DESC,
	[LNK_FK_T2_ID] ASC,
	[LNK_FK_0204_ID] ASC,
	[LNK_FK_0300_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_LNK_0204_ID] UNIQUE NONCLUSTERED 
(
	[LNK_T3_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding] ADD  CONSTRAINT [DF_T3L_Post_Date]  DEFAULT (getdate()) FOR [LNK_Post_Date]
GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding] ADD  CONSTRAINT [DF_T3L_Term_Date]  DEFAULT ('12/31/2099') FOR [LNK_Term_Date]
GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding]  WITH CHECK ADD  CONSTRAINT [FK_LNK_0204_0300_LNK_T2_ID] FOREIGN KEY([LNK_FK_T2_ID])
REFERENCES [CAT].[LNK_0100_0200_Server_Databases] ([LNK_T2_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding] CHECK CONSTRAINT [FK_LNK_0204_0300_LNK_T2_ID]
GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding]  WITH CHECK ADD  CONSTRAINT [FK_LNK_0204_0300_REG_0204_DatabaseSchemas] FOREIGN KEY([LNK_FK_0204_ID])
REFERENCES [CAT].[REG_0204_Database_Schemas] ([REG_0204_ID])
GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding] CHECK CONSTRAINT [FK_LNK_0204_0300_REG_0204_DatabaseSchemas]
GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding]  WITH CHECK ADD  CONSTRAINT [FK_LNK_0204_0300_REG_0300_Object_Registry] FOREIGN KEY([LNK_FK_0300_ID])
REFERENCES [CAT].[REG_0300_Object_Registry] ([REG_0300_ID])
GO
ALTER TABLE [CAT].[LNK_0204_0300_Schema_Binding] CHECK CONSTRAINT [FK_LNK_0204_0300_REG_0300_Object_Registry]
GO
CREATE NONCLUSTERED INDEX [idx_nc_LNK_0204_0300_K2_I1_to_6]
ON [CAT].[LNK_0204_0300_Schema_Binding] ([LNK_FK_T2_ID])
INCLUDE ([LNK_T3_ID],[LNK_FK_0204_ID],[LNK_FK_0300_ID],[LNK_Post_Date],[LNK_Term_Date])
GO




CREATE TRIGGER [CAT].[TGR_L2_Schema_Binding]
   ON  [CAT].[LNK_0204_0300_Schema_Binding]
   INSTEAD OF INSERT
AS 
BEGIN
	SET NOCOUNT ON;

    UPDATE lat SET LNK_Term_Date = getdate()
    FROM CAT.LNK_0204_0300_Schema_Binding AS lat
    LEFT JOIN inserted AS i
    ON lat.LNK_FK_T2_ID = i.LNK_FK_T2_ID
    AND lat.LNK_FK_0204_ID = i.LNK_FK_0204_ID
    AND lat.LNK_FK_0300_ID = i.LNK_FK_0300_ID
    WHERE lat.LNK_Term_Date >= getdate()
    AND (i.LNK_FK_0204_ID IS NULL
	OR i.LNK_FK_0300_ID IS NULL)

	INSERT INTO CAT.LNK_0204_0300_Schema_Binding (LNK_FK_T2_ID, LNK_FK_0204_ID, LNK_FK_0300_ID)

	SELECT i.LNK_FK_T2_ID, i.LNK_FK_0204_ID, i.LNK_FK_0300_ID
	FROM inserted AS i
	LEFT JOIN CAT.LNK_0204_0300_Schema_Binding AS lsb
	ON lsb.LNK_FK_T2_ID = i.LNK_FK_T2_ID
	AND lsb.LNK_FK_0204_ID = i.LNK_FK_0204_ID
	AND lsb.LNK_FK_0300_ID = i.LNK_FK_0300_ID
	AND lsb.LNK_Term_Date >= getdate()
	WHERE lsb.LNK_T3_ID IS NULL 
END



GO
