USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[REG_0401_Column_Properties](
	[REG_0401_ID] [int] IDENTITY(1,1) NOT NULL,
	[REG_Size] [int] NOT NULL,
	[REG_Scale] [int] NOT NULL,
	[Is_Identity] [bit] NOT NULL,
	[Is_Nullable] [bit] NOT NULL,
	[Is_Default_Collation] [bit] NOT NULL,
	[REG_Create_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_REG_0401] PRIMARY KEY CLUSTERED 
(
	[REG_Size] ASC,
	[REG_Scale] ASC,
	[Is_Identity] ASC,
	[Is_Nullable] ASC,
	[Is_Default_Collation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_REG_0401_ID] UNIQUE NONCLUSTERED 
(
	[REG_0401_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[REG_0401_Column_Properties] ADD  CONSTRAINT [DF_REG_0401_Size]  DEFAULT ((0)) FOR [REG_Size]
GO
ALTER TABLE [CAT].[REG_0401_Column_Properties] ADD  CONSTRAINT [DF_REG_0401_Scale]  DEFAULT ((-1)) FOR [REG_Scale]
GO
ALTER TABLE [CAT].[REG_0401_Column_Properties] ADD  CONSTRAINT [DF_REG_0401_Identity]  DEFAULT ((0)) FOR [Is_Identity]
GO
ALTER TABLE [CAT].[REG_0401_Column_Properties] ADD  CONSTRAINT [DF_REG_0401_Nullable]  DEFAULT ((0)) FOR [Is_Nullable]
GO
ALTER TABLE [CAT].[REG_0401_Column_Properties] ADD  CONSTRAINT [DF_REG_0401_dfltcollate]  DEFAULT ((0)) FOR [Is_Default_Collation]
GO
ALTER TABLE [CAT].[REG_0401_Column_Properties] ADD  CONSTRAINT [DF_REG_0401_CDate]  DEFAULT (getdate()) FOR [REG_Create_Date]
GO
