USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[REG_0204_Database_Schemas](
	[REG_0204_ID] [int] IDENTITY(1,1) NOT NULL,
	[REG_Schema_Name] [nvarchar](256) NOT NULL,
	[REG_Create_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_REG_0204] PRIMARY KEY CLUSTERED 
(
	[REG_Schema_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_REG_0204_ID] UNIQUE NONCLUSTERED 
(
	[REG_0204_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[REG_0204_Database_Schemas] ADD  CONSTRAINT [DF_REG_0204_CDate]  DEFAULT (getdate()) FOR [REG_Create_Date]
GO
