USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[REG_0103_Server_Providers](
	[REG_0103_ID] [int] IDENTITY(1,1) NOT NULL,
	[REG_Provider] [nvarchar](256) NOT NULL,
	[REG_Data_Source] [nvarchar](256) NOT NULL,
	[REG_Provider_String] [nvarchar](2000) NOT NULL,
	[REG_Catalog] [nvarchar](256) NOT NULL,
	[REG_Create_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_REG_0103] PRIMARY KEY CLUSTERED 
(
	[REG_Provider] ASC,
	[REG_Data_Source] ASC,
	[REG_Provider_String] ASC,
	[REG_Catalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_REG_0103_ID] UNIQUE NONCLUSTERED 
(
	[REG_0103_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[REG_0103_Server_Providers] ADD  CONSTRAINT [DF_REG_0103_CDate]  DEFAULT (getdate()) FOR [REG_Create_Date]
GO
