USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CAT].[REG_0500_Parameter_Registry](
	[REG_0500_ID] [int] IDENTITY(1,1) NOT NULL,
	[REG_Parameter_Name] [nvarchar](256) NOT NULL,
	[REG_Parameter_Type] [nvarchar](25) NOT NULL,
	[REG_Create_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_REG_0500] PRIMARY KEY CLUSTERED 
(
	[REG_Parameter_Name] ASC,
	[REG_Parameter_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_REG_0500_ID] UNIQUE NONCLUSTERED 
(
	[REG_0500_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [CAT].[REG_0500_Parameter_Registry] ADD  CONSTRAINT [DF_0500_CDate]  DEFAULT (getdate()) FOR [REG_Create_Date]
GO
