USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ECO].[REG_1101_XML_Namespaces](
	[REG_1101_ID] [int] IDENTITY(1,1) NOT NULL,
	[REG_Namespace] [nvarchar](256) NOT NULL,
	[REG_NS_Link] [nvarchar](256) NOT NULL,
	[REG_Create_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_REG_1101] PRIMARY KEY CLUSTERED 
(
	[REG_Namespace] ASC,
	[REG_NS_Link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_R1101_ID] UNIQUE NONCLUSTERED 
(
	[REG_1101_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [ECO].[REG_1101_XML_Namespaces] ADD  CONSTRAINT [DF_R1101_CDate]  DEFAULT (getdate()) FOR [REG_Create_Date]
GO
