USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ECO].[LNK_1100_1102_Schema_Heirarchy](
	[LNK_1100_1102_ID] [int] IDENTITY(1,1) NOT NULL,
	[LNK_FK_1100_ID] [int] NOT NULL,
	[LNK_FK_1102_ID] [int] NOT NULL,
	[LNK_Node_Tier] [int] NOT NULL,
	[LNK_Post_Date] [datetime] NULL,
	[LNK_Term_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_LNK_1100_1102] PRIMARY KEY CLUSTERED 
(
	[LNK_FK_1100_ID] ASC,
	[LNK_FK_1102_ID] ASC,
	[LNK_Node_Tier] ASC,
	[LNK_Term_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_L1100_1102_ID] UNIQUE NONCLUSTERED 
(
	[LNK_1100_1102_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [ECO].[LNK_1100_1102_Schema_Heirarchy] ADD  CONSTRAINT [DF_L1100_1102_Post]  DEFAULT (getdate()) FOR [LNK_Post_Date]
GO
ALTER TABLE [ECO].[LNK_1100_1102_Schema_Heirarchy] ADD  CONSTRAINT [DF_L1100_1102_Term]  DEFAULT ('12/31/2099') FOR [LNK_Term_Date]
GO
ALTER TABLE [ECO].[LNK_1100_1102_Schema_Heirarchy]  WITH CHECK ADD  CONSTRAINT [FK_SH_LNK_1102] FOREIGN KEY([LNK_FK_1102_ID])
REFERENCES [ECO].[REG_1102_XML_Nodes] ([REG_1102_ID])
GO
ALTER TABLE [ECO].[LNK_1100_1102_Schema_Heirarchy] CHECK CONSTRAINT [FK_SH_LNK_1102]
GO
