USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ECO].[LNK_1100_LIB_Docuent_Paths](
	[LNK_1100_DOC_ID] [int] IDENTITY(1,1) NOT NULL,
	[LNK_FK_1100_ID] [int] NOT NULL,
	[LNK_FK_Document_ID] [int] NOT NULL,
	[LNK_Post_Date] [datetime] NULL,
	[LNK_Term_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_LNK_1100_DOC_ID] PRIMARY KEY CLUSTERED 
(
	[LNK_FK_1100_ID] ASC,
	[LNK_FK_Document_ID] ASC,
	[LNK_Term_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_L1100_DOC_ID] UNIQUE NONCLUSTERED 
(
	[LNK_1100_DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [ECO].[LNK_1100_LIB_Docuent_Paths] ADD  CONSTRAINT [DF_L1100_DOC_Post]  DEFAULT (getdate()) FOR [LNK_Post_Date]
GO
ALTER TABLE [ECO].[LNK_1100_LIB_Docuent_Paths] ADD  CONSTRAINT [DF_L1100_DOC_Term]  DEFAULT ('12/31/2099') FOR [LNK_Term_Date]
GO
ALTER TABLE [ECO].[LNK_1100_LIB_Docuent_Paths]  WITH CHECK ADD  CONSTRAINT [FK_EDP_LNK_1100] FOREIGN KEY([LNK_FK_1100_ID])
REFERENCES [ECO].[REG_1100_XML_Schema_Registry] ([REG_1100_ID])
GO
ALTER TABLE [ECO].[LNK_1100_LIB_Docuent_Paths] CHECK CONSTRAINT [FK_EDP_LNK_1100]
GO
ALTER TABLE [ECO].[LNK_1100_LIB_Docuent_Paths]  WITH CHECK ADD  CONSTRAINT [FK_EDP_LNK_DOC_ID] FOREIGN KEY([LNK_FK_Document_ID])
REFERENCES [LIB].[REG_Documents] ([Document_ID])
GO
ALTER TABLE [ECO].[LNK_1100_LIB_Docuent_Paths] CHECK CONSTRAINT [FK_EDP_LNK_DOC_ID]
GO
