USE [DWMgmt]
GO


CREATE TABLE [LIB].[REG_Dictionary](
	[Word_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](256) NOT NULL,
	[Post_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_LIB_Lexicon] PRIMARY KEY CLUSTERED 
(
	[Word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Dictionary_WordID] UNIQUE NONCLUSTERED 
(
	[Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [LIB].[REG_Dictionary] ADD  CONSTRAINT [DF_Dictionary_Post]  DEFAULT (getdate()) FOR [Post_Date]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE TRIGGER [LIB].[Dictionary_Insert]
ON  [LIB].[REG_Dictionary]
INSTEAD OF INSERT
AS 

BEGIN
	
	INSERT INTO LIB.REG_Dictionary (Word)
	SELECT Word
	FROM inserted AS tmp
	EXCEPT
	SELECT Word
	FROM LIB.REG_Dictionary

END

GO
