USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LIB].[HSH_Word_Categories](
	[Hash_ID] [int] IDENTITY(1,1) NOT NULL,
	[Collection_ID] [int] NOT NULL,
	[Word_ID] [int] NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Post_Date] [datetime] NOT NULL,
	[Term_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_LIB_Word_Categories] PRIMARY KEY CLUSTERED 
(
	[Collection_ID] ASC,
	[Word_ID] ASC,
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_HSH_Word_Cat_ID] UNIQUE NONCLUSTERED 
(
	[Hash_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [LIB].[HSH_Word_Categories]  WITH CHECK ADD  CONSTRAINT [FK_HSH_WordCat_REG_Categories] FOREIGN KEY([Category_ID])
REFERENCES [LIB].[REG_Categories] ([Category_ID])
GO
ALTER TABLE [LIB].[HSH_Word_Categories] CHECK CONSTRAINT [FK_HSH_WordCat_REG_Categories]
GO
ALTER TABLE [LIB].[HSH_Word_Categories]  WITH CHECK ADD  CONSTRAINT [FK_HSH_WordCat_REG_Collections] FOREIGN KEY([Collection_ID])
REFERENCES [LIB].[REG_Collections] ([Collection_ID])
GO
ALTER TABLE [LIB].[HSH_Word_Categories] CHECK CONSTRAINT [FK_HSH_WordCat_REG_Collections]
GO
