USE [DWMgmt]
GO


CREATE TABLE [LIB].[REG_Rules](
	[Rule_ID] [int] IDENTITY(1,1) NOT NULL,
	[Rule_Name] [nvarchar](256) NOT NULL,
	[Rule_Type] [nvarchar](128) NOT NULL,
	[Rule_Desc] [nvarchar](4000) NULL,
	[Post_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Rules] PRIMARY KEY CLUSTERED 
(
	[Rule_Name] ASC,
	[Rule_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Rule_IDKey] UNIQUE NONCLUSTERED 
(
	[Rule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [LIB].[REG_Rules] ADD  CONSTRAINT [DF_Rules_Post]  DEFAULT (getdate()) FOR [Post_Date]
GO
