USE [DWMgmt]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[Object_Latch_Insert](
	[LNK_T2_ID] [int] NULL,
	[LNK_T3_ID] [int] NULL,
	[REG_0204_ID] [int] NULL,
	[REG_0300_ID] [int] NULL
) ON [PRIMARY]

GO
