USE [DWMgmt]
GO


CREATE TABLE [TMP].[REG_0204_0300_Insert](
	[LNK_T2_ID] [int] NULL,
	[LNK_T3_ID] [int] NULL,
	[REG_0204_ID] [int] NULL,
	[REG_0300_ID] [int] NULL,
	[Server_ID] [int] NULL,
	[Database_ID] [int] NULL,
	[Schema_ID] [int] NULL,
	[Schema_Name] [nvarchar](256) NULL,
	[Object_ID] [int] NULL,
	[Sub_Object_Rank] [int] NOT NULL,
	[Object_Name] [nvarchar](256) NULL,
	[Object_Type] [nvarchar](25) NULL,
	[Create_Date] [datetime] NULL
) ON [PRIMARY]
GO

CREATE CLUSTERED INDEX [tdx_ci_reg_0204_0300_K4] ON [TMP].[REG_0204_0300_Insert]
(
	[Server_ID] ASC,
	[Database_ID] ASC,
	[Schema_ID] ASC,
	[Object_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [tdx_nc_reg_0204_0300_K9_K11_I13] ON [TMP].[REG_0204_0300_Insert]
(
	[Schema_Name] ASC,
	[Object_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [NC_LNK_0204_0300_K2_K6_I1_I3_I4] ON [CAT].[LNK_0204_0300_Schema_Binding]
(
	[LNK_FK_T2_ID] ASC,
	[LNK_Term_Date] ASC
)
INCLUDE ( 	[LNK_T3_ID],
	[LNK_FK_0204_ID],
	[LNK_FK_0300_ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [TMP].[REG_0204_0300_Insert] ADD  CONSTRAINT [DF_0204_0300_Rank]  DEFAULT ((0)) FOR [Sub_Object_Rank]
GO
