USE [master]
GO
/****** Object:  Database [DWMgmt]    Script Date: 3/1/2017 1:29:55 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'DWMgmt')
DROP DATABASE [DWMgmt]
GO
/****** Object:  Database [DWMgmt]    Script Date: 3/1/2017 1:29:55 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DWMgmt')
BEGIN
CREATE DATABASE [DWMgmt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWMgmt', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL11.IMPERIAL_SENATE\MSSQL\DATA\DWMgmt.mdf' , SIZE = 21516608KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DWMgmt_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL11.IMPERIAL_SENATE\MSSQL\DATA\DWMgmt_log.ldf' , SIZE = 2199552KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWMgmt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
